body {
	background: hsl(200, 80%, 43%)
}
#banner {
	width: 100%;
	
}
h1 {
	text-align: center;
	color: #ffffff	;
	border: 5px solid #d4ff00 ;
	padding: 20px;
	margin: 20px;
}
p {
	text-align: center;
}

#missao {
	font-size: 20px;
	color: #d4ff00	;
}

em strong {
	color: #d4ff00;
}

#beneficios {
	color: #d4ff00	;
}
